/* .upload-song {
    /* padding-top: 100px; */
    /* display: flex; */
    /* flex-direction: column; */
/* }  */

.create-song-form {
    /* display: flex;
    flex-direction: column;
    border: 2px solid white */

    margin: 0px auto;
    /* background-color: #B97375; */
    background-color: #7c95ae;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    max-width: 500px;
    padding: 15px 0;
}

.create-song-form label {
    color: #2D2D34;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 12px 0;
    font-size: 24px;
    font-weight: 600;
}

#file-upload {
    width: 41%;
    font-size: 15px;
    margin: 5px 5px;
    background-color: transparent;
}



.create-song-form label input, .create-song-form label textarea {
    color: #2D2D34;
    width: 90%;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    border-radius: 5px;
    /* border: 1px solid #2D2D34; */
    border: none

}

.create-song-form label input:focus, .create-song-form label textarea:focus {
    outline:#2D2D34;
    /* box-shadow: #2D2D34; */
    /* box-shadow: white; */

}

.upload-textarea {
   height: 133px;
   resize: none;
}

.upload-button-div {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-top: 10px;
}

.afterClick {
    width: 60%;
    text-align: center;
    margin-bottom: 2%;
    font-size: 14px;
}
