.home-page {
  /* margin: 0px auto;
    background-color: blue; */
}

.home-page p {
  text-align: center;
  font-size: 25px;
  margin-top: 4%;
  margin-bottom: 4%;
}

.songsContainer {
  margin: 0 auto;
  padding: 0;
  width: 70%;
  max-width: 700px;
  background-color: #545491;
  /* background-color: #7c95ae; */
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(0, 0, 0, 0.5);
  height: 735px;
  overflow: auto;
}

.each-song-div {
  margin: 20px auto;
  padding: 23px 15px;
  width: 90%;
  display: flex;
  flex-direction: column;

}

.artist-date-div {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.songTitle {
  font-size: 2em;
  text-decoration: none;
  transition: 0.3s;
  width: 100%;
  overflow-wrap: break-word;
  text-align: center;
  /* color: #682f48; */
}

.uploadedUser {
  font-size: 23px;
}

.detail-date {
  font-size: 18px;
}

.songTitle:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.songTitle:active {
  transform: scale(0.9);
}

.logoDiv {
  display: flex;
  margin-bottom: 2%;
}

#logo {
  /* color: #2D2D34; */
  /* background-color: blue; */
  width: 26%;
}
