body {
    background-color: #2D2D34;
    font-family: 'Nunito', sans-serif;
}

.navLink {
    font-weight: bold;
    color: #E2DCDE;
    text-decoration: none;
}

.title {
    text-align: center;
    color: #E2DCDE;
    font-size: 35px;
}
