* {
    margin: 0 auto;
    box-sizing: border-box;
    color:#E2DCDE;
}



html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #2D2D34;
    font-family: 'Nunito', sans-serif;
    height: 100%;
    width: 100%;
    /* border: white 1px solid; */
    margin-top: 0px;
    /* padding-top: 50px; */
}

.underNav {
    padding-top: 100px;
}

.navLink {
    font-weight: bold;
    color: #E2DCDE;
    text-decoration: none;
    transition: 0.3s;
}

.title {
    text-align: center;
    color: #E2DCDE;
    font-size: 35px;
    margin-bottom: 20px;
}



.form-btn, .cancel-btn, .delete-btn {
    color: #E2DCDE;
    /* color: #2D2D34; */
    margin: 0;
    /* background-color: lavenderblush; */
    background-color: #a6456f;
    border: none;
    border-radius: 7px;
    font-size: 19px;
    font-family: 'Nunito', sans-serif;
    padding: 0 7%;
    transition: 0.3s;
}

.cancel-btn {
    color: #2D2D34;
    /* margin: 0; */
    background-color: thistle;
    /* border: none; */
    /* border-radius: 7px; */
    /* font-size: 19px; */
    /* font-family: 'Nunito', sans-serif; */
    /* padding: 0 7%; */
}

.delete-btn {
    color: #2D2D34;
    /* color: #E2DCDE; */
    /* color: #2D2D34; */
    /* margin: 0; */
    /* background-color: lavenderblush; */
    /* background-color: #7c95ae; */
    background-color: #8fa6c8;
    /* border: none;
    border-radius: 7px;
    font-size: 19px;
    font-family: 'Nunito', sans-serif;
    padding: 0 7%; */
}

.form-links {
    color:#6e2123;
}

.fa-user-circle:before {
    color: #2D2D34;
}

.create-playlist-form label input {
    color: #2D2D34;
}

.subTitle {
    text-align: center;
}

input:focus, textarea:focus, select:focus {
    outline: none
}



.navLink:hover, .form-btn:hover, .cancel-btn:hover, .delete-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.navLink:active, .form-btn:active, .cancel-btn:active, .delete-btn:active {
    transform: scale(0.9);
}
