* {
    margin: 0 auto;
    box-sizing: border-box;
    color:#E2DCDE;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #2D2D34;
    font-family: 'Nunito', sans-serif;
    height: 100%;
    width: 100%;
    /* border: white 1px solid; */
    margin-top: 0px;
    /* padding-top: 50px; */
}


footer {
    display: flex;
    padding-top: 5px;
    background-color: #ceb1be78;
    margin: 0;
    margin: 4% 0 0;
}

footer > div {
    /* display: flex; */
    margin: 0;
    width: 100%
}

.builtWith {
    display: flex;
    width: 75%;
}

.me {
    display: flex;
    margin-bottom: 5px;
}

.underNav {
    padding-top: 100px;
    margin-left: 0;
    margin-right: 0;
}

.navLink {
    font-weight: bold;
    color: #E2DCDE;
    text-decoration: none;
    transition: 0.3s;
    /* width: 200px; */
}

.title {
    text-align: center;
    color: #E2DCDE;
    font-size: 35px;
    margin-bottom: 20px;
    width: 77%;
    overflow-wrap: break-word;
    max-width: 700px;
    border-bottom: #8fa6c8 solid 1px;
    padding-bottom: 20px;
}



.form-btn, .cancel-btn, .delete-btn {
    color: #E2DCDE;
    /* color: #2D2D34; */
    margin: 0;
    /* background-color: lavenderblush; */
    background-color: #a6456f;
    /* border: none; */
    /* border-radius: 7px; */
    font-size: 19px;
    font-family: 'Nunito', sans-serif;
    padding: 0 7%;
    transition: 0.3s;
}

.cancel-btn {
    color: #2D2D34;
    background-color: thistle;

}

.delete-btn {
    color: #2D2D34;
    background-color: #8fa6c8;
}

.form-links {
    color:#6e2123;
    transition: 0.3s;
}

.fa-user-circle:before {
    color: #2D2D34;
}

/* .create-playlist-form label input {
    color: #2D2D34;
} */

.subTitle {
    text-align: center;
    /* margin-bottom: 2%; */
    width: 70%;
    max-width: 715px;
}


.plLink {
    display: inline-block;
    margin-right: 7px;
}

.logo-btn, .eachDynRes {
    transition: 0.3s;
}


input:focus, textarea:focus, select:focus {
    outline: none
}

button:hover, .navLink:hover, .logo-btn:hover, .form-btn:hover, .cancel-btn:hover, .delete-btn:hover, .form-links:hover, .eachDynRes:hover {
    transform: scale(1.1);
    cursor: pointer;
}

button:active, .navLink:active, .logo-btn:active, .form-btn:active, .cancel-btn:active, .delete-btn:active, .form-links:active, .eachDynRes:active {
    transform: scale(0.9);
}

button {
    border-radius: 7px;
    transition: 0.3s;
    border: none;
}

ul {
    padding-inline-start: 0px;
}
li {
    list-style: none;
}

textarea, input {
    background-color: #E2DCDE;
}

input {

    color: #2D2D34;
    /* width: 90%; */
    font-size: 17px;
    font-family: 'Nunito', sans-serif;
    border-radius: 5px;
    /* border: 1px solid #2D2D34; */
    border: none
}
