
.login-form {
    margin: 0px auto;
    background-color: lavender;
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    border-radius: 5px;
}

.login-form label {
    display: flex;
    flex-direction: column;
}
