.navigation {
    /* padding: 20px 7px; */
    /* margin: 0 7%; */
    position: fixed;
    width: 100%;
    min-width: 560px;
    background-color: #682f48;
    z-index: 1;
    height: 82px;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* padding-top: 2%; */
}

.navigation > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    /* width: 100%; */
    width: 88%;
    max-width: 965px;
    min-width: 700px;
    gap: 10px;
}

.profile-nav-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #682f48;
    /* padding: 0px .5% .5%; */
    border-radius: 5px;
}

.logout-btn {
    color: #2D2D34;
    margin: 0;
    background-color: lavenderblush;
    font-size: 19px;
    font-family: 'Nunito', sans-serif;
    padding: 0 7%;
    margin-bottom: 5px;

}

.profile-nav-div > button, .demo-btn {
    border: none;
    background-color: transparent;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    transition: 0.3s;
}

.profile-nav-div > div {
    font-size: 19px;
}
.profile-dropdown {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-end;
    margin: 0;
    padding: 7px;
    position: absolute;
    top: 54px;
    border-radius: 5px;
    background-color: #682f48;
    width: 165px;

}

.profile-dropdown div {
    margin: 0;
    text-align: end;
}

.playlistNav {
    display: flex;
    /* width: 120px; */
    min-width: 120px;
    width: 11%;
}

.profile-nav-div > button:hover, .demo-btn:hover, .logout-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.profile-nav-div > button:active, .demo-btn:active, .logout-btn:active {
    transform: scale(0.9);
}

.innerNav {
    /* width: 100%; */
}

.logo-btn {
    width: 82px;
    /* position: fixed;
    top: 0px; */
    margin-top: 6px;
}

.profBtn {
    color: #2D2D34;
    margin: 0;
    background-color: #a2bbd5;
    font-size: 19px;
    font-family: 'Nunito', sans-serif;
    padding: 0 7%;
    margin-bottom: 5px;

}
